.right-border{
    border-right: 1px solid black;
}
p a:hover{
    text-decoration: none;
    color: #AF9119;
}

.active{
    color: #AF9119;
}

p a{
    color: black;
    font-size: 14px;
}

.Img{
    width: 12vw;
}

.container-img-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-slogan-search{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.slogan-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.socials{
    display: flex;
    flex-direction: row;
}

.m-circle{
    border-radius: 50%;
}

.m-circle i{
    width: 45px;
    text-align: center;
}

.flag{
    display: flex;
    height: 5px;
}

.flag div{
    height: 100%;
    width :33.33%
}

.searchbar{
    width: 80%;
    display: flex;
    color: gray;
    align-self: center;
}

.searchbar input{
    width: 90%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    border: 1px solid gray;
    padding: .5rem;
}

.searchbar i{
    height: 100%;
    width: 10%;
    text-align: center;
    font-size: 25px;
    border: 1px solid gray;
    padding: 5px;  
    border-left: 0;
    border-radius: 0 10px 10px 0;
    color:black;
    cursor: pointer;
}

.slogan_nd_socials{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.m-nv-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.m-nv-menuitem{
    display: block;
}
.m-nv-menuitem a{
    color: #2D2D2D;;
}
.m-nv-menuitem a:hover{
    text-decoration: none;
}

.m-nv-bottom-of-menu{
    height: 5px;
    background:#2D2D2D;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.m-nv-submenu{
    opacity: 0;
    position: absolute;
    background: #2D2D2D;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border-radius: 0 0 5px 5px;
}

.m-nv-menuitem:hover  div{
    opacity: 1;
}

.m-nv-submenuitem-bordertop{
    border-top: .5px solid gray;
}

.m-nv-submenuitem a{
    color: white;
    font-size: 16px;
}

