.right-border{
    border-right: 1px solid black;
}
p a:hover{
    text-decoration: none;
    color: #AF9119;
}

.active{
    color: #AF9119;
}

p a{
    color: black;
}

.Img{
    width: 17vw;
}

.container-img-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-slogan-search{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.slogan-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.socials{
    display: flex;
    flex-direction: row;
}

.m-circle{
    border-radius: 50%;
}

.m-circle i{
    width: 30px;
    text-align: center;
}

.flag{
    display: flex;
    height: 5px;
}

.flag div{
    height: 100%;
    width :33.33%
}
