.carousel-image{
    position: absolute;
    transition: opacity 1.5s linear 0s;
}

.carousel-image-inner img{
    max-width: 100%;
    height: auto;
}

.carousel-image-content{
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    background-color: black;
    opacity: .6;
    flex-direction: column;
}

.carousel-image-content div{
    margin-left: auto;
    color: white;
}

.carousel-previous{
    left: 0;
    bottom: 0;
}

.carousel-next, .carousel-previous{
    position: absolute;
    display: block;
}

.carousel-next i , .carousel-previous i{
    color: white;
    background: black;
    opacity: .6;
    cursor: pointer;
}

.carousel-next{
    right: 0;
    bottom: 0;
}

.carousel-image-container{
    position: absolute;
    width: 100%;
}

.carousel-image-content-title{
    font-size: 30px;
    font-style: oblique;
    font-weight: 900;
}

.carousel-image-content-message{
    font-size: 16px;
    font-style: italic;
}